body {
	background: #171d25;
	height: 4000px;
}

.ip-sidebar {
	text-align: center;
}

.ip-start-project {
	text-align: center;
}

.ip-start-project input {
    background-color: #333;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}

.ip-fixed-toolbar {

}

.ip-ft-container {
	text-align: center;
}

.ip-ft-icon {
	color:#fff;
	font-size:45px;
	margin: 30px;
	/*position: fixed;*/
}